@{
    ViewBag.Title = "Thay đổi mật khẩu";
}

<div class="row justify-content-center">
    <div class="col-12">

        @if (!ViewData.ModelState.IsValid)
        {
            <div class="alert alert-danger">
                @foreach (var error in ViewData.ModelState.Values.SelectMany(v => v.Errors))
                {
                    <div>@error.ErrorMessage</div>
                }
            </div>
        }

        <form method="post" asp-action="ChangePassword">
            <div class="card card-warning card-outline">
                <div class="card-body">
                    <!-- Mật khẩu cũ -->
                    <div class="mb-3">
                        <label class="form-label">Mật khẩu cũ</label>
                        <div class="input-group">
                            <span class="input-group-text">
                                <i class="bi bi-lock-fill"></i>
                            </span>
                            <input type="password" name="oldPassword" class="form-control" placeholder="Nhập mật khẩu cũ" required autofocus>
                        </div>
                    </div>

                    <!-- Mật khẩu mới -->
                    <div class="mb-3">
                        <label class="form-label">Mật khẩu mới</label>
                        <div class="input-group">
                            <span class="input-group-text">
                                <i class="bi bi-shield-lock-fill"></i>
                            </span>
                            <input type="password" name="newPassword" class="form-control" placeholder="Nhập mật khẩu mới" required>
                        </div>
                    </div>

                    <!-- Xác nhận mật khẩu mới -->
                    <div class="mb-3">
                        <label class="form-label">Xác nhận mật khẩu mới</label>
                        <div class="input-group">
                            <span class="input-group-text">
                                <i class="bi bi-check-circle-fill"></i>
                            </span>
                            <input type="password" name="confirmPassword" class="form-control" placeholder="Nhập lại mật khẩu mới">
                        </div>
                    </div>
                </div>
                <div class="card-footer text-end">
                    <button type="submit" class="btn btn-primary">
                        <i class="bi bi-save"></i> Đổi mật khẩu
                    </button>
                    <a href="~/" class="btn btn-secondary me-2">
                        <i class="bi bi-back"></i> Quay lại
                    </a>
                </div>
            </div>
        </form>
    </div>
</div>
