<!--begin::App Main-->
<main class="app-main">
    <!--begin::App Content Header-->
    <div class="app-content-header">
        <div class="container-fluid">
            @RenderBody();
        </div>
    </div>
    <!--end::App Content Header-->
    <!--begin::App Content-->
    <div class="app-content">
        <div class="container-fluid">
            <div class="card">
                <div class="card-header">
                    <h3 class="card-title">Title</h3>
                    <div class="card-tools">
                        <button type="button" class="btn btn-tool" data-lte-toggle="card-collapse" title="Collapse">
                            <i data-lte-icon="expand" class="bi bi-plus-lg"></i>
                            <i data-lte-icon="collapse" class="bi bi-dash-lg"></i>
                        </button>
                        <button type="button" class="btn btn-tool" data-lte-toggle="card-remove" title="Remove">
                            <i class="bi bi-x-lg"></i>
                        </button>
                    </div>
                </div>
                <div class="card-body" style="height: 100vh;">
                    <p>
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Quos, sit illo aspernatur voluptatem iure
                        accusamus sint minima facilis, perferendis beatae quasi iusto tempore similique qui velit dolores quis
                        dolorum. Eveniet?
                    </p>

                    <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal">
                        Open Modal
                    </button>

                </div>
                <div class="card-footer">Footer</div>
            </div>
        </div>
    </div>
    <!--end::App Content-->

</main>
<!--end::App Main-->